{% extends 'base.html' %}

{% block main %}
    <h2>Contact Form</h2>
    <hr>
    <p>Fill in this form to contact the site owners.</p>
    <form method="post" action="{{ url_for('contact') }}">
        {{ form.csrf_token }}
        <div class="">
            {{ form.name.label }} <span>(Required)</span>
            <p>Please enter your full name.</p>
            {{ form.name(class="") }}
        </div>
        <div class="">
            {{ form.email.label }} <span>(Required)</span>
            <p>Please enter your e-mail address.</p>
            {{ form.email(class="", placeholder="jdoe@example.com") }}
        </div>
        <div class="">
            {{ form.subject.label }} <span>(Required)</span>
            <p>Please enter the subject for your message.</p>
            {{ form.subject(class="") }}
        </div>
        <div class="">
            {{ form.message.label }} <span>(Required)</span>
            <p>Please enter the message you would like to send.</p>
            {{ form.message(class="") }}
        </div>
    <button type="submit" class="btn">Send</button>
</form>
{% endblock %}